* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Orbitron", serif;
    font-optical-sizing: auto;
    font-weight:lighter;
    font-style: normal;
}
body {
    background-image: url(../images/background.jpg);
    background-attachment: fixed;
    color: rgb(184, 236, 76);
    text-align: center;
    display: block;
    justify-content: center;
    align-items: center;
    
}
::-webkit-scrollbar {
    display: none;
}
.container {
    position: relative;
    z-index: 1;
}

.container::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: inherit;
    z-index: -1;
    transform: translateZ(0);
    will-change: transform;
}
.header {
    width: 100%;
}
.profilephoto {
    flex-grow: 2;
    margin-top: 6vh;
}
.profilephoto img{
    box-shadow: 0px 0px 25px 10px rgba(255, 255, 255, 0.162);
    border-radius: 50%;
    width: 375px;
    height: 375px;
    object-fit: cover;
    object-position: 0% 0%;
}
#homeButton {
    position: fixed;
    bottom: 20px;
    right: 20px;
    font-size: 40px;
    color: #B8EC4C;
    cursor: pointer;
    opacity: 0; 
    visibility: hidden; 
    transition: opacity 0.5s ease-in-out, visibility 0s 0.5s, transform 0.3s ease-in-out; 
}

#homeButton.show {
    opacity: 1; 
    visibility: visible;
    transition: opacity 0.5s ease-in-out, visibility 0s 0s, transform 0.3s ease-in-out; 
}

#homeButton:hover {
    transform: scale(1.5);
}
.navbar {
    display: flex;
    justify-content: center;
    align-content: center;
    margin-left: 20px;
    
}
.navbar ul{
    display: flex;
    list-style-type: none;
}
.navbar li {
    padding: 70px;
}
.navbar li a {
    font-size: 25px;
    font-weight: 600;
    color: #B8EC4C;
    display: flex;
    text-decoration: none;
    transition: .5s ease-in-out;
}
.navbar li a:hover {
    transform: scale(1.5);
}

/*=========================== IMAGE SLIDER */
.slider-container {
    width: 100%;
    height: 45vh;
    display: flex;
    align-items: center;
    justify-content: center;
}
.slider-images {
    display: flex;
    align-items: center;
    gap: 60px;
}
.slider-images img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 6px;
}
.slider-img {
    width: 110px;
    border-radius: 6px;
    cursor: pointer;
    position: relative;
    transition: 0.7s ease;
}
.slider-images .slider-img:first-child, .slider-images .slider-img:last-child{
    height: 280px;
}
.slider-images .slider-img:nth-child(2), .slider-images .slider-img:nth-child(6){
    height: 360px;
}
.slider-images .slider-img:nth-child(3), .slider-images .slider-img:nth-child(4), .slider-images .slider-img:nth-child(5){
    height: 480px;
}
.slider-img.active{
    width: 466px !important;
    height: 550px !important;
}
.slider-img.active h1 {
    display: none;
}
.slider-img.active .details p, .slider-img.active .details h2{
    display: block;
}
/* ==================================About Me */
.about-section {
    width: 75%;
    padding: 20px;
    display: inline-block;
    color: #acacac;
    height: 100vh;
}
.about-intro {
    margin-top: 125px;
    padding-bottom: 50px;
}
.about-intro h2 {
    text-align: left;
    color: #B8EC4C;
    font-size: 50px;
}
.about-me p {
    font-size: 30px;
    line-height: 1.5em;
}
.about-me {
    display: flex;
    gap: 20px;
}
#left, #right{
    width: 50%;
    text-align: left;
    line-height: 2em;
}
/* ==================================Skills */
.skills-section{
    padding: 20px;
    display: inline-block;
    color: #acacac;
    height: 100vh;
}
.skills {
    margin-top: 200px;
}
.skills h2 {
    color: #B8EC4C;
    font-size: 50px;
}
.icons {
    margin-top: 250px;
}
.icons i {
    padding: 30px;
    font-size: 140px;
    transition: 0.5s ease-in-out;
}
.icons i:hover {
    transform: scale(1.5);
    color: #B8EC4C;
}
i::after {
    text-align: center;
    content: attr(data-tooltip);
    position: absolute;
    bottom: -30px;
    left: 50%;
    transform: translateX(-50%);
    padding: 5px 10px;
    background-color: transparent;
    color: #eaeaea;
    border-radius: 5px;
    font-size: 15px;
    font-family: "Teko", sans-serif;
    opacity: 0;
    transition: opacity 0.4s;
}
i:hover::after {
    opacity: 1;
}
/* ==================================Certs */
.certs-section {
    margin-top: 100px;
    padding: 20px;
    height: 100vh;
}
.certs-intro {
    margin-top: 100px;
    display: flex;
    justify-content: center;
    gap: 600px;
}
/* ==================================Contact */
.contact-section {
    display: flex;
    justify-content: center;
    align-content: center;
    margin-top: 100px;
    padding: 20px;
    height: 100vh;
}
/* .contact-intro {
    /* margin-top: 100px;
    gap: 600px; */
/* } */
.contact ul {
    display: flex;
    list-style-type: none;
}
.contact li {
    padding: 125px;
}
.contact li a {
    padding: 0px;
    font-size: 50px;
    font-weight: 600;
    color: #B8EC4C;
    display: flex;
    text-decoration: none;
    transition: .5s ease-in-out;
}
.contact li a:hover {
    transform: scale(2);
}
/* ==================================Media */
@media (max-width: 1550px) {
    .profilephoto img {
        width: 175px;
        height: 175px;
    }
    .navbar li {
        padding: 50px;

    }
    .navbar li a {
        font-size: large;
        font-weight: 600;
        color: #B8EC4C;
        display: flex;
        text-decoration: none;
    }
    .slider-container {
        width: 100%;
        height: 60vh;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .slider-images {
        display: flex;
        align-items: center;
        gap: 40px;
    }
    .slider-images img {
        width: 100%;
        height: 75%;
        object-fit: cover;
        border-radius: 6px;
    }
    .slider-img {
        width: 80px;
        border-radius: 6px;
        cursor: pointer;
        position: relative;
        transition: 0.7s ease;
    }
    .slider-images .slider-img:first-child, .slider-images .slider-img:last-child{
        height: 140px;
    }
    .slider-images .slider-img:nth-child(2), .slider-images .slider-img:nth-child(6){
        height: 230px;
    }
    .slider-images .slider-img:nth-child(3), .slider-images .slider-img:nth-child(4), .slider-images .slider-img:nth-child(5){
        height: 340px;
    }
    .slider-img.active{
        width: 366px !important;
        height: 450px !important;
    }
    h1{
        font-size: 20px;
        font-weight: 400;
        text-align: left;
        text-transform: uppercase;
        color: #fff;
        position: absolute;
        top: 50%;
        left: 15%;
        transform: rotate(270def);
        transition: 0.7s ease;
    }
    .details p {
        font-size: 14px;
        font-weight: 400;
        text-align: left;
        line-height: 200px;
        color: #fff;
        text-transform: uppercase;
        transition: 0.7s ease;
        display: none;
    }
    .about-section {
        width: 75%;
        padding: 20px;
        display: inline-block;
        color: #acacac;
        height: 100vh;
    }
    .about-intro {
        margin-top: 35px;
        padding-bottom: 25px;
    }
    .about-intro h2 {
        text-align: left;
        color: #B8EC4C;
        font-size: 40px;
    }
    .about-me p {
        font-size: 18px;
        line-height: 1.5em;
    }
    .about-me {
        display: flex;
        gap: 20px;
    }
    #left, #right{
        width: 50%;
        text-align: left;
        line-height: 2em;
    }
    .skills-section{
        height: 100vh;
        padding: 20px;
        display: inline-block;
        color: #acacac;
        height: 100vh;
    }
    .skills {
        margin-top: 150px;
    }
    .skills h2 {
        color: #B8EC4C;
        font-size: 40px;
    }
    .icons {
        margin-top: 180px;
    }
    .icons i {
        padding: 30px;
        font-size: 80px;
        transition: 0.5s ease-in-out;
    }
}
